<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hk.gov.housingauthority.dao.CityMapper">
	
	<resultMap type="city" id="cityRsltMap">
		<id property="id" column="ID"/>
		<result property="name" column="Name"/>
		<result property="countryCode" column="CountryCode"/>
		<result property="distinct" column="Distinct"/>
		<result property="population" column="Population"/>
	</resultMap>
	
	<select id="getAllCities" resultType="city" resultMap="cityRsltMap">
		select * from world.city
	</select>
</mapper>